table {
  position: fixed;
  inset: 0px;
  max-width: 100vw;
  max-height: 100dvh;
  margin: auto;
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid #c4dcf3;
  border-left: 0;
  border-right: 0;
}

td, th {
  padding: 10px;
}


thead, tfoot {
  background-color: #427fef;
  color: white;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #eef7ff ;
}
